@import url("Shared/shared.css");
@import url("Shared/main.css");

main{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-content: center;
}

main img{
    width: 90%;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

#menu{
    background-color: var(--background-color-primary);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 90%;
    min-height: 10vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    align-content: center;
}

#user ,#post_title, #like_button{
    justify-self: center;
    align-self: center;
}

#post_title{
    margin: 0;
    font-size: 2.1rem;
    color: var(--secondary-text-color);
}

#user{
    margin-left: 5%;
    justify-self: left;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 0.5rem;
}
#user img{
    height: 2.9rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

#like_button{
    margin-right: 5%;
    justify-self: right;
    border:none;
    background-color: transparent;
}

#like_button img{
   width: 2rem;
}
