@import url("../Public/shared.css");
@import url("../Public/main.css");


#img_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    overflow-y: auto;
    max-height: 100%;
    padding: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#img_grid img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1vh;
}