<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snapload | Home</title>
    <link rel="icon" type="image/x-icon" href="../Public/Images/logo_small.svg">
    <link rel="stylesheet" href="../Public/Styles/index.css">
</head>
<body>
<header>
    <div id="logo">
        <img src="../Public/Images/logo.svg" alt="logo">
    </div>
    <div id="search_form">
        <form>
            <input placeholder="Search.." id="search_input" type="text">
            <button id="search_button" type="submit"><img alt="search_icon" src="../Public/Images/search.svg"></button>
        </form>
    </div>
    <div id="user_card">
        <a href="" id="log_in">Log-in</a>
    </div>
</header>
<main>
    <div id="img_grid">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
        <img src="../Public/Images/placeholder.jpg" alt="placeholder_img">
    </div>
</main>

</body>
</html>